@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --cor-primaria: #571B3C;
    --cor-secundaria: #9D2053;
    --cor-escuro: #341931;
    --cor-maisEscuro: #111625;
    --cor-claro: #F4F4F4;
    --cor-vidro: #;
}

body {
    background-color: var(--cor-maisEscuro);
    color: var(--cor-claro);
}

.cabecalho {
    width: 100%;
    height: 80px;
    background-color: var(--cor-escuro);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.cabecalho-h1 {
    color: #fff;
    font-size: 24px;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 30px;
}

.menu {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 30px;
}

.menu-link {
    text-decoration: none;
    color: var(--cor-claro);
    font-weight: 500;
    position: relative;
}

.menu-link::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
}

.menu-link:hover::after {
    content: "";
    height: 2px;
    width: 0;
    transition: height 0.3s ease;
    background: linear-gradient(90deg, var(--cor-primaria), var(--cor-secundaria) );
}